main {
    flex: 1;
    padding: 20px;
    height: 100vh;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 72vh;

}

.icons img:hover {
    transform: scale(1.1);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.4);
}



.simbolos {
    max-width: 150px;
    margin: 10px;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px grey;
}


.paleta {
    max-width: 150px;
    margin: 10px;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px grey;
}



.botones {
    max-width: 150px;
    margin: 10px;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 10px grey
}