:root {
    --primary: black;
    --secondary: white;
    --tertiary: #b5b7b7;
    font-family: "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}



h2 {
    color: white;
}