.portatil {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 80vh;
    padding: 100px;

}

.portatil img {
    height: 900px;
    width: 1500px;
}